.loginTitle {
  margin: 0 auto;
  text-align: center;
}

.loginForm {
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  &__button {
    width: 50%;
    align-self: center;
    margin-top: 10px;
  }
}