<h1 class="loginTitle">Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="loginForm">
  <div class="loginForm__content">
    <label for="email" class="loginForm__input-label">Email:</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
      Enter email
    </div>

    <label for="password" class="loginForm__input">Password:</label>
    <input type="password" id="password" formControlName="password">
    <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
      Enter password
    </div>

    <button class="loginForm__button" type="submit" [disabled]="loginForm.invalid">Confirm</button>
  </div>
</form>
